/* You can add global styles to this file, and also import other style files */

a, div, table, tr, td, p {
  //font-family: "Noto Sans Medium", serif;
  font-family: Arial, Helvetica;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #223;
}

table.table-events {
  background: rebeccapurple;
}

.text-color-bright {
  color: #ECE8ED;
}

.text-color-accent {
  color: rebeccapurple;
}

.text-color-dark {
  color: #1C0221;
}

a {
  color: #ECE8ED;
}
